.indicator-selector-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.indicator-selector-list svg {
    display: block;
    width: 100%;
    height: 100%;
}

.indicator-selector-item {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 8px;
}

.indicator-selector-item:hover {
    background-color: #f2f2f2;
}

.chart-indicator-list {
    position: absolute;
    top: 35px;
    left: 8px;
    width: auto;
    background-color: transparent;
    z-index: 20;
}

.chart-indicator-list svg {
    display: block;
    width: 100%;
    height: 100%;
}

.chart-indicator-item {
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0px 3px;
}

.chart-indicator-item:hover {
    border-color: #dbdbdb;
}

.chart-indicator-item .name {
    font-size: 12px;
}

.chart-indicator-item .action {
    display: flex;
}

.chart-indicator-item:hover .action {
    display: flex;
}

.chart-indicator-item .action-button {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-indicator-item .action-button:hover {
    background-color: #f2f2f2;
}
