.toolbar {
    display: flex;
    background-color: white;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

.toolbar-horizontal {
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.toolbar-vertical {
    flex-direction: column;
    width: 100%;
}

/* GROUP */

.toolbar-group {
    display: flex;
}

.toolbar-group-horizontal {
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.toolbar-group-vertical {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

/* BUTTON */

.toolbar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    border-radius: 6px;
    background: transparent;
    color: #0f0f0f;
    transition: background-color 60ms ease, opacity 60ms ease, color 60ms ease;
    z-index: 0;
}

.toolbar-horizontal .toolbar-btn {
    height: 100%;
    padding: 0 6px;
}

.toolbar-vertical .toolbar-btn {
    height: 38px;
    width: 52px;
}

.toolbar-btn-popover {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    min-width: 180px;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    padding: 6px;
    z-index: 1000;
    box-shadow: 0 2px 4px #0003;
}

.toolbar-btn::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 6px;
    z-index: -1;
}

.toolbar-btn.active::before {
    background: #ebebeb;
}

.toolbar-horizontal .toolbar-btn::before {
    top: 2px;
    bottom: 2px;
    inset-inline-start: 2px;
    inset-inline-end: 2px;
}

.toolbar-vertical .toolbar-btn::before {
    top: 2px;
    bottom: 2px;
    inset-inline-start: 9px;
    inset-inline-end: 9px;
}

.toolbar-btn.active:hover::before {
    background-color: #dbdbdb;
}

.toolbar-btn:hover::before {
    background: #f2f2f2;
}

.toolbar-btn span {
    color: #0f0f0f;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    font-family: 'Roboto', sans-serif;
}

.toolbar-btn svg {
    display: block;
    width: 100%;
    height: 100%;
}

.toolbar-btn svg + span,
.toolbar-btn span + svg {
    margin-left: 6px;
}

/* DROPDOWN */

.toolbar-dropdown {
    position: relative;
    height: 100%;
}

.toolbar-dropdown-menu {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    min-width: 180px;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    padding: 6px;
    z-index: 1000;
    box-shadow: 0 2px 4px #0003;
    max-height: 70vh;
    overflow-y: auto;
}

.toolbar-dropdown-option {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0px 6px;
    border: none;
    background: transparent;
    color: #0f0f0f;
    text-align: left;
    border-radius: 6px;
    min-height: 32px;
}

.toolbar-dropdown-option:hover {
    background: #f2f2f2;
}

.toolbar-dropdown-option.selected {
    background: #2e2e2e;
    color: white;
}

.toolbar-dropdown-option:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.toolbar-dropdown .toolbar-main {
    height: 100%;
}

.toolbar-dropdown .toolbar-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    min-width: 32px;
    padding: 0 6px;
    border: none;
    border-radius: 6px;
    background: transparent;
    color: #0f0f0f;
    transition: background-color 60ms ease, opacity 60ms ease, color 60ms ease;
    z-index: 0;
}

.toolbar-dropdown .toolbar-trigger.active {
    height: 100%;
}

.toolbar-dropdown .toolbar-trigger:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    bottom: 2px;
    inset-inline-start: 2px;
    inset-inline-end: 2px;
    background: #ebebeb;
    border-radius: 6px;
    z-index: -1;
}

.toolbar-dropdown .toolbar-trigger svg {
    display: block;
    width: 100%;
    height: 100%;
}

.toolbar-dropdown-text {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline-start: 4px;
    font-family: 'Roboto', sans-serif;
}

.toolbar-dropdown-subtitle {
    font-size: 11px;
    color: #8c919e;
}

.toolbar-dropdown-label {
    font-size: 13px;
    white-space: nowrap;
}

/* SEPARATOR */

.toolbar .toolbar-separator {
    background: #ebebeb;
}

.toolbar-separator-horizontal {
    width: 1px;
    height: 22px;
    margin: 0 4px;
}

.toolbar-separator-vertical {
    width: 22px;
    height: 1px;
    margin: 4px 0;
}

/* FILL */

.toolbar-fill {
    flex: 1;
}

/* LAYOUT PICKER */

.layout-picker {
    min-width: 250px;
}

.layout-picker-row {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
}

.layout-picker-row:not(:last-child) {
    border-bottom: 1px solid var(--toolbar-border);
}

.layout-picker-number {
    width: 18px;
    flex-shrink: 0;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #808080;
}

/* TOOLBAR ARROW DOOPDOWN */

.toolbar-arrow-trigger {
    transition: transform 140ms cubic-bezier(0.2, 0.8, 0.2, 1), translate 140ms cubic-bezier(0.2, 0.8, 0.2, 1);
    transition-delay: 0ms;
}

.toolabr-arrow-trigger svg {
    display: block;
    width: 100%;
    height: 100%;
}

.toolbar-main:hover .toolbar-arrow-trigger {
    translate: 0 1px;
    transition-delay: 50ms;
}

.toolbar-main.active .toolbar-arrow-trigger {
    transform: rotate(180deg);
    translate: 0 1px;
    transition-delay: 0ms;
}
